svg {
  &.graph {

    .betweenPoints {
      stroke: red;
      stroke-width: 3;
    }

    .grid {
      stroke: black;
      stroke-dasharray: 1 2;
      stroke-width: 1;
    }
  }
}

select {
  display: block;
  padding: 20px;
  font-size: large;
  font-weight: bold;
  text-align: center;
  width: 30vw;
}

div.graph-container {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin: 10vw;
}

table.params {
  padding: 2%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}

td.params {
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  border-collapse: collapse;
}

label.paramLabel {
  font-size: x-large;
}