svg {
  &.graph {

    .betweenPoints {
      stroke: red;
      stroke-width: 3;
    }

    .grid {
      stroke: black;
      stroke-dasharray: 1 2;
      stroke-width: 1;
    }
  }
}

select {
  display: block;
}